{% extends 'base_executive.html' %}
{% block body %}

    <nav class="nav navbar-expand">
        <ul class="navbar-nav mr-auto bg-light">

            <li class="nav-item {% if url_name == 'executive_driver_payment_archive' %}active{% endif %}">
                <a class="nav-link" href="{% url 'executive_driver_payment_archive' %}">
                    <button class="btn btn-default">Driver Payment Reports</button>
                </a>
            </li>

        </ul>
    </nav>

    <div class="container">
        <p>{{ message }}</p>
        <table class="table table-hover" border="2">
           <thead>
           <tr>
               <th><h2>Search and view for General Payment Reports</h2></th>
                

           </tr>

           </thead>
            <tbody>
                <tr>
                    <td>

                        <form class="form-inline"  method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                            <div class="col-auto my-1">
                          <label class="mr-sm-2" for="inlineFormCustomSelect">Year</label>
                          <select class="custom-select mr-sm-2" name="report_year" id="inlineFormCustomSelect">
                              {% for report_year in years %}
                                 <option name="{{ report_year }}" value="{{ report_year }}">{{ report_year }}</option>
                              {% endfor %}
                          </select>
                        </div>
                            <div class="col-auto my-1">
                          <label class="mr-sm-2" for="inlineFormCustomSelect">Month</label>
                          <select class="custom-select mr-sm-2" name="report_month" id="inlineFormCustomSelect">
                              {% for report_month in months %}
                                 <option name="{{ report_month }}" value="{{ report_month }}">{{ report_month }}</option>
                              {% endfor %}
                          </select>
                        </div>
                            <div class="col-auto my-1">
                                <label class="mr-sm-2" for="inlineFormCustomSelect">Search</label>
                          <button type="submit" class="btn btn-primary">Search</button>
                        </div>


                        </form>

                    </td>
                    
                </tr>
            </tbody>

        </table>
        
        
        <h4>Monthly Archived Report For  {{ report_month }} {{ report_year }}  </h4>
        <table class="table table-hover" border="2">
        <thead class="table-success">
        <tr border="2">

            <td>Driver Name</td>
            <td>Driver Car</td>
            <td>Paid Amount</td>
            <td>Balance</td>
        </tr>

        </thead>

        <tbody>

        {% for report in archived_reports %}

            <tr>

            <td>{{ report.driver_name }}</td>

            <td>{{ report.driver_car }}</td>

            <td>{{ report.amount_paid }}</td>

            <td>{{ report.balance }}</td>

         {% endfor %}

         </tr>
         <tr>
             <td><h5>Total paid: {{ driver_total_paid }} </h5></td>
             <td><h5>Total Balance:  {{ driver_total_balance }}</h5></td>
             <td><h5>Total Number of Drivers:  {{ item_number }}</h5></td>

         </tr>
         <tr>
        {% if archived_reports %}
         <td><a href="{% url 'executive_driver_payment_archive_print'  report_month  report_year %}" target="_new" class="btn btn-primary bt-sm" role="button">Print Report</a></td>
        {% endif %}
         </tr>


        </tbody>

    </table>
    
    

  
    </div>

    <br><br>
{% endblock %}