{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1 class="text-center logo my-4">
          <a href="{% url 'home' %}"><img class="mb-3" src="../../static/accounts/img/logo.jpg" alt="" width="450" height="125"></a>
        </h1>
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6 col-sm-8">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Logged out.<p>Thank you for spending your time with the system.</p></h3>
                <p>Goodbye!</p>
              </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}