{% extends "operationsapp/operations_header.html" %}

{% block body %}

   <br>
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hello, {{request.user}}</h1>
          <p>You are welcome to the OPERATIONS dashboard of The Canon Innovation Organization. You are requested to log out immediately after carrying out your duties because information accessed via this dashboard might be sensitive.</p>
          <h3>Thank You</h3>
        </div>
      </div>
    
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Permissions:</h2>
          </div>
          <div class="col-md-8">
              <li>Creation, Deletion and Editing of the cars</li>
              <li>Creation, Deletion and Editing of the drivers</li>
              <li>Monitoring of the drivers' payments</li>
              <li>Sending notifications to the drivers</li>
              <li>Handles some of the complaints</li>
          </div>
        </div>
    
        <hr>
      </div> <!-- /container -->
{% endblock %}


